<ion-header>
  <ion-toolbar>
    <ion-title class="header-title" color="success">
      Add Transaction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select [(ngModel)]="transaction.category">
      <ion-select-option value="salary">salary</ion-select-option>
      <ion-select-option value="food">food</ion-select-option>
      <ion-select-option value="transport">transport</ion-select-option>
      <ion-select-option value="house">house</ion-select-option>
      <ion-select-option value="other">other</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="transaction.name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Value</ion-label>
    <ion-input type="number" inputmode="numeric" min="0" [(ngModel)]="transaction.value"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addTransaction()" color="success" class="button-text">Add</ion-button>
</ion-content>