<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spendly
    </ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/avatar.jpg" alt="User Avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>My Money</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>{{myMoney | currency:'EUR'}}</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Daily Spend</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{dailySpend | currency:'EUR'}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Monthly Spend</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>{{monthlySpend | currency:'EUR'}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
