ion-header{
    box-shadow: none;
}

.salary{
    color: var(--ion-color-success);
}

.expense{
    color:var(--ion-color-danger);
}

.header-title{
    font-family: 'CustomFont', sans-serif;
    font-size: 1.5em;
}

ion-icon.food{
    color: var(--ion-color-primary);
}

ion-icon.home{
    color: var(--ion-color-success);
}

ion-icon.car{
    color: var(--ion-color-tertiary);
}

ion-icon.other{
    color: var(--ion-color-warning);
}